<link rel="stylesheet" href="/assets/css/footer.css" />

<link rel="stylesheet"
    href="https://maxcdn.bootstroogleapis.com/css2?family=Material+Symapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div class="all">
        <div class="left">
            <div class="adress">
                <h1>Hoa Minh, Lien Chieu, Da Nang</h1>
            </div>
            <div class="contact">
                0999888777
            </div>
            <div class="socialnetwork">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-tiktok"></i>
                <i class="bi bi-facebook"></i>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
</footer>