<!-- Header -->




<link rel="stylesheet" href="/assets/css/header.css" />


<header id="header">
    <h1>Xin chào <%= user.name %>!</h1>
    <nav id="nav">
        <ul>
            <li><a href="/users">Home</a></li>
            <li>
                <a href="/users/tradingjournal">Trading Journal</a>
            </li>
            <li><a href="/users/trade">Trade</a></li>

            <li><a href="/auth/logout" class="button primary">Log Out</a></li>
        </ul>
    </nav>
</header>