<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Baby Shark Crypto - User</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />




	<link rel="stylesheet" href="/assets/css/user.css" />
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
	<noscript>
		<link rel="stylesheet" href="/assets/css/user.css" />
	</noscript>



</head>

<body class="is-preload landing">

	<%- include('partials/header', { user: user }) %>

	<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h2>BTC</h2>
				<p>VÀNG KĨ THUẬT SỐ<br />
					OR
					<br>
					CÔNG NGHỆ ÚP BÔ.
				</p>
			</header>
			<span class="image"><img src="/image/Untitled-2.png" alt="" /></span>
		</div>
		<a href="#one" class="goto-next scrolly">Next</a>
	</section>




	<!-- One -->
	<section id="one" class="spotlight style1 bottom">
		<span class="image fit main"><img src="/image/123.jpg" alt="">
		</span>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-medium">
						<header>
							<h2>Khám phá thế giới Crypto</h2>
							<p>Cập nhật xu hướng blockchain, Bitcoin, và tài chính phi tập trung (DeFi)</p>
						</header>
					</div>
					<div class="col-4 col-12-medium">
						<p>Bitcoin, Ethereum và nhiều altcoin đang cách mạng hóa tài chính toàn cầu.
							Tìm hiểu cách đầu tư an toàn, phân tích thị trường, và nắm bắt cơ hội trong thế
							giới
							tiền mã hóa.</p>
					</div>
					<div class="col-4 col-12-medium">
						<p>Web3, NFT, Layer 2 và các giải pháp mở rộng đang định hình tương lai Internet.
							Đừng bỏ lỡ các xu hướng mới và công nghệ đột phá trong thị trường crypto năng
							động.
						</p>
					</div>
				</div>
			</div>
		</div>
		<a href="#two" class="goto-next scrolly">Next</a>
	</section>





	<!-- Two -->
	<section id="two" class="spotlight style2 right">
		<span class="image fit main"><img src="/image/fw.png" alt="" /></span>
		<div class="content">
			<header>
				<h2>Donald Trump & làn sóng meme coin</h2>
				<p>Sự ảnh hưởng của Trump lan rộng đến cả thị trường crypto và văn hóa meme</p>
			</header>
			<p>Donald Trump không chỉ là một nhân vật chính trị gây chú ý, mà còn trở thành nguồn cảm hứng
				cho
				nhiều
				meme coin như TRUMP.
				Những đồng coin này thu hút cộng đồng nhờ sự hài hước, viral, và sức hút từ tên tuổi cựu
				tổng
				thống
				Mỹ.
				Dù mang tính giải trí, nhiều nhà đầu tư vẫn theo dõi sát xu hướng này với kỳ vọng "ăn XNXX
				Tài
				Khoản".</p>

			<!-- <ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul> -->
		</div>
		<a href="#three" class="goto-next scrolly">Next</a>
	</section>

	<!-- Three -->
	<section id="three" class="spotlight style3 left">
		<span class="image fit main bottom"><img src="/image/8eeadbed-2c4d-4fe8-868f-03d45d8e2418.jpg" alt="" /></span>
		<div class="content">
			<header>
				<h2>BTC to the Moon! 🚀</h2>
				<p>Bitcoin tiếp tục phá vỡ giới hạn và hướng đến những đỉnh cao mới</p>
			</header>
			<p>Bitcoin không chỉ là đồng tiền mã hóa đầu tiên mà còn là biểu tượng của cuộc cách mạng tài
				chính
				toàn
				cầu. Câu nói "BTC to the moon" thể hiện niềm tin mãnh liệt của cộng đồng vào tiềm năng tăng
				trưởng
				không giới hạn của Bitcoin. Khi thị trường bùng nổ, dòng tweet, meme và hashtag
				#BTCTOTHEMOON
				lại
				tràn ngập mạng xã hội, tạo nên làn sóng FOMO và đẩy thị trường lên cao. Liệu chúng ta sắp
				chứng
				kiến
				một cú moonshot nữa?</p>

			<!-- <ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul> -->
		</div>
		<a href="#four" class="goto-next scrolly">Next</a>
	</section>









	<%- include('partials/footer') %>
		<!-- Footer -->


		<!-- Scripts -->
		<script src="/assets/javascripts/breakpoints.min.js"></script>
		<script src="/assets/javascripts/browser.min.js"></script>
		<script src="/assets/javascripts/jquery.dropotron.min.js"></script>
		<script src="/assets/javascripts/jquery.min.js"></script>
		<script src="/assets/javascripts/browser.min.js"></script>
		<script src="/assets/javascripts/breakpoints.min.js"></script>
		<script src="/assets/javascripts/util.js"></script>
		<script src="/assets/javascripts/user.js"></script>
		<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="path/to/scrolly.js"></script>





</body>

</html>